@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html,
body {
  overflow-x: hidden;

  // changing styles in scroll bar
  &::-webkit-scrollbar-thumb {
    // background-color: rgb(0, 149, 255);
    //  background-color: #547071;
    background-color: #928850;
    border-radius: 9px;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: white;
}
