.header {
  background: #000000d6;
  color: white;

  .header__wrapper {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px;
    .header__cart {
      font-size: 1.25em;
      display: flex;
      align-items: center;
      gap: 25px;

      .header__link {
        &:hover {
          color: #f1f1f1;
          text-decoration: underline;
          transition: all 500ms;
        }
      }
    }
    a {
      h1 {
        font-size: 1.5em;
      }
    }
  }
}

// responsive

@media only screen and (max-width: 900px) {
  .header {
    font-size: 12px;
    .header__wrapper {
      height: 7vh;
    }
  }
}
