.header {
  background: #000000d6;
  color: white;

  .header__wrapper {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px;
    .header__cart {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 25px;

      .header__link {
        &:hover {
          color: #f1f1f1;
          text-decoration: underline;
          transition: all 500ms;
        }
      }
    }
  }
}
