.banner {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
  // padding: 20px;
  margin: 0 0 100px 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #0000004a;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      color: white;
      font-size: 3.5em;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

// responsive
@media only screen and (max-width: 900px) {
  .banner {
    height: 24vh;
    margin: 0 0 42px 0;

    .overlay {
      font-size: 9px;
    }
  }
}
